.nav {
    color: palevioletred;
    font-size: 25px;
}
.menu {
    color: plum;
    font-weight: lighter;
}
h1 {
    color: rgba(150, 70, 70, 0.861);
    font-size: 40px;
    text-decoration: underline;
}
p {
    color: rgb(85, 96, 173);
    font-size: 25px;
}
